
body {
    background-color:rgb(100, 99, 99);
    color:rgb(14, 12, 12);
}

img {
    max-width: 100%;
    margin: 5px;
}

.flex-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }
  
.coluna-normal {
    display: flex;
    flex-direction: column;
  }

.coluna-reversa {
    display: flex;
    flex-direction: column-reverse;
}
